.mltlngg_switcher{display:inline-block;top:7px;position: absolute;right: 0;}
.mltlngg-lang{opacity:.60;transition:opacity .3s;-moz-transition:opacity .3s;-webkit-transition:opacity .3s;}
.mltlngg-current-lang{opacity:1;}
.mltlngg-lang:hover{opacity:1;}
.mltlngg-lang-button-icons{min-width: 30px !important;height: 30px !important;}
.mltlngg-lang-button-icons img.mltlngg-current-lang{border:none;}
.mltlngg-lang-button-icons img{width:22px;height:16px;}